<div class="component-invoice">
  <div class="invoice-container shadow">
    <div class="invoice-for-padding">
      <div class="flex-between">
        <span class="gray-color">Invoice #123</span> <span class="gray-color">17 Aug 2018</span>
      </div>
      <div class="horizontal-bar title">
        Billed to
      </div>
      <div class="inner-info">
          <p>John Doe</p>
          <p>john@gmail.com</p>
          <p>New Jersey, USA</p>
          <p>pin: 656787</p>

      </div>
      <div class="horizontal-bar title">
        Items
      </div>
      <div class="product-invoice-container inner-info">
        <div class="flex-between">
          <span>S sizes</span> <span>2 x $10</span>
        </div>
        <div class="flex-between">
          <span>M sizes</span> <span>2 x $20</span>
        </div>
        <div class="flex-between">
          <span>L sizes</span> <span>2 x $30</span>
        </div>
      </div>
    </div>
    <div class="amount title flex-between">
        <span>Amount:</span><span>$120.00</span>
      </div>
  </div>
  <!-- <div class="text-center btn-container">
    <button class="btn btn-dark">Accept & Pay</button>
  </div> -->

</div>
