@import "../../assets/custom";
.button-details {
    width: 47%;
    margin: 1.1%;
    padding: 1% 0;
    float: left;
    height: auto;
    text-align: center;
    background: linear-gradient(to bottom, #6a88ff 0%, #0033ff 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white !important;
    padding: 20px 0;
}