<div class="container">
    <div class="col-md-12 home-tabs">
        <div class="">
            <div class="button-details" @click="$router.push('/add-customer')">
                <h6>Add Customers</h6>
                <span class="pull-right">+25</span>
            </div>
        </div>
        <div class="">
            <div class="button-details" @click="$router.push('/scan')">
                <h6>Add Item</h6>
                <span class="pull-right">+25</span>
            </div>
        </div>
        <div class="">
            <div class="button-details" @click="$router.push('/scan')">
                <h6>Scan</h6>
                <span class="pull-right">+25</span>
            </div>
        </div>
        <div class="">
            <div class="button-details" @click="$router.push('/invoice-list')">
                <h6>Add Invoice</h6>
                <span class="pull-right">+25</span>
            </div>
        </div>
    </div>
</div>