<div class="view-customer">
  <div class="fixed-nav flex-between">
    <span class="chevron" @click="$router.go(-1)">
      <img class="img-fluid" src="../../assets/img/chevron-right.png">
    </span>
    <span class="title">Item Details</span>
    <span class="navicon">
        <div style="display:inline;" @click="$router.push('/home-page')">
          <i class="fa fa-home"></i> 
        </div>
        <div style="display:inline;" @click="$emit('openSidebar')">
            <img class="img-fluid" src="../../assets/img/navicon-primary.png">
        </div>
    </span>
  </div>

  <div class="customer-detail-container">

    <p class="title">Check In Details</p>
    <p>25 Mar 2017, at 12:30 PM</p>
     <p class="title">Billing</p>
    <p>$156 (2 days)</p>
   
  </div>

  <div class="product-card-container ">

    <div class="detail-card card-container">
      <div class="img-container">
        <img class="img-fluid" src="https://rukminim1.flixcart.com/image/832/832/printer/p/z/c/canon-pixma-mg3670-original-imaebqyrpe7hvzpz.jpeg?q=70">

      </div>
      <div>
        <p class="title">HP LQ120 Printer</p>
        <p class="flex-between">
           <span> <b>S</b>: 245 gm <br /><b>BARCODE</b>: 57657676</span>
        </p>
      </div>
    </div>
  </div>

  

</div>
