<div class="container col-md-12">
    <div class="col-md-12 home-tabs">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-details" @click="$router.push('/customer-list')">
                <h3>Customers</h3>
                <span class="pull-right">+25</span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-details" @click="$router.push('/product-list')">
                <h3>Products</h3>
                <span class="pull-right">+25</span>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tabs-details" @click="$router.push('/invoice-list')">
                <h3>Invoices</h3>
                <span class="pull-right">+25</span>
            </div>
        </div>
    </div>
</div>