@import "../../assets/custom";

.component-omr-card {
  .omr-container {
    background: white;
    padding: 10px;
    .omr-bar-code {
      padding: 5px;
      border-radius: 5px;
      border: 1px dotted rgba(#333, 0.4);
      min-height: 80px;
      margin-bottom: 20px;
    }
  }
  .btn-container {
    margin-top: 10px;
    button {
      width: 100%;
    }
  }
}
