<div class="scan-view">
  <div class="fixed-nav flex-between">
    <span class="chevron" @click="$router.go(-1)">
      <img class="img-fluid" src="../../assets/img/chevron-right.png">
    </span>
    <span class="title">Scan</span>
    <span class="navicon">
        <div style="display:inline;" @click="$router.push('/home-page')">
          <i class="fa fa-home"></i>
        </div>
        <div style="display:inline;" @click="$emit('openSidebar')">
            <img class="img-fluid" src="../../assets/img/navicon-primary.png">
        </div>
    </span>
  </div>
  <div class="toggle-nav">
    <div @click="activeTab('in')" class="tab" :class="{activeTab: active_tab}">In</div>
    <div @click="activeTab('out')" class="tab" :class="{activeTab: !active_tab}">Out</div>
  </div>
  <div class="main-container">
    <div class="in-container" v-if="active_tab">
      <OmrCard></OmrCard>
    </div>
    <div class="out-container" v-if="!active_tab">
      <OmrCard :check_in="false"></OmrCard>
    </div>
  </div>
  <!--<div class="btn-bottom">-->
    <!--<button class="btn btn-dark btn-bottom">Check In</button>-->
  <!--</div>-->
</div>

