@import "../../assets/custom";

.info-box-container{
  padding:10px;
  padding-bottom: 40px;
  background:white;
  margin-top:20px;
}

.image-container{
  padding:10px;
  img{
    height:50px;
    width:50px;
    margin-bottom:10px;
  }
}
